/Nayazu/dist/
/Nayazu_Application/dist/
/Nayazu-Preloader/dist/
/Nayazu_Application1.0/nbproject/private/
/Nayazu_Application1.0/build/
/Nayazu_Application1.0/dist/
/WebNayazu/nbproject/private/
/WebNayazu/build/
/WebNayazu/dist/
/DemoStruts/nbproject/private/
/WebTermoApp/nbproject/private/
/WebTermoApp/build/
/WebTermoStruts2/nbproject/private/
/WebTermoStruts2/build/
/EqPro/nbproject/private/
/EqPro/build/
/EqPro/dist/
/ReflectionDemo/nbproject/private/
/ReflectionDemo/build/
/ReflectionDemo/dist/
/Nayazu/build/
*.class