/* 
    Document   : Styles
    Created on : 03-abr-2013, 10:18:40
    Author     : Chilpayate
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.title{
    -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.subtitle{
    -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
