/* 
    Document   : BarStyles
    Created on : 1/09/2012, 01:39:54 AM
    Author     : ESKUINKLE
    Description:
        Purpose of the stylesheet follows.
*/

redBackground{
    -fx-background-color: red;
}








